<!-- app/views/products/show.html.erb -->

<h1><%= @product.title %></h1>

<p>
  <strong>Price:</strong> <%= @product.price %><br>
  <strong>Stock Quantity:</strong> <%= @product.stock_quantity %><br>
  <strong>Description:</strong> <%= @product.description %>
</p>

<%= link_to 'Back to Products', products_path %>
